.Navmain{
    display: flex;
    position: absolute;
    background-color: black;
    width: 100%;
    top: 0;
    left: 0;
    height: 10%;
}
.leftside{
    flex: 4;
    display:flex;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.leftside p{
    color: white;
    font-size: 26px;
    font-weight:900;
    margin-left: 5%;
    margin-top: 3%;
}
.center{
    flex: 8;
    display: flex;
    margin-top: 2%;
}
.iteams a{
    margin-left:50px;
    font-size: 20px;
    text-decoration: none;
    font-weight:bold;
    color: white;
}
.iteams a:hover{
    color: rgb(85, 89, 92);
}
.rightside{
    flex: 3;
    margin-left: 16%;
    margin-top: 1%;
}
.button{
    background-image: linear-gradient(to right,#53ea49,#2575b7);
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1%;
    transition: 1000ms;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}